---
const year = new Date().getFullYear();
---
<footer class="site-footer">
  <div class="wrap">
    <p lang="hi">डॉ. प्रणव गौतम</p>
    <p lang="hi">राजकीय आयुर्वेदिक महाविद्यालय एवं चिकित्सालय, बरेली</p>
    <p>© {year}</p>
  </div>
</footer>
